@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1{
	font-family: 'SEGA LOGO FONT';
	font-weight: 100;
	color: #0ccac4;	
}

td,p,h2{
	color: #0ccac4;
}

.particles{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#nav{
	display: flex;
	justify-content: center;
}



